header{
    height: 10vh;
    width: 100%;
    background: rgba(0.2, 0.2, 0.2, 5%);
    backdrop-filter: blur(5px);
    display: flex;
    position: fixed;
    z-index: 2;
    overflow: hidden;
}
.logo{
    height: 100%;
    width: 25%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 8vh;
    width: 15vw;
    cursor: pointer;
}
.nav{
    height: 100%;
    width: 50%;
    /* background-color: rgb(110, 155, 140); */
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
}
.nav h3{
    cursor:pointer;
    color: #FFB41D;
    font-size: 20px;
}
.nav h3 .active{
    color: #FFB41D;
}
.nav h3 a{
    text-decoration: none;
    color: #061E5C;
}
.nav i{
    font-size: 30px;
    cursor: pointer;
    color: #061E5C;
    margin-top: 2vh;
}
.nav i .active{
    color: #FFB41D;
}
.nav .cartNotification{
    position: absolute;
    z-index: 1000;
    top: 10%;
    left: 68%;
    background-color: #fff;
    height: 3.5vh;
    width: 1.8vw;
    border-radius: 50%;
    border: 1px solid #FFB41D;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#061E5C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    overflow-y: hidden;
    margin-top: 0.5vh;
  }
.search{
    height: 100%;
    width: 25%;
    /* background-color: rgb(24, 27, 26); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search button{
    border: none;
    border-radius: 1vh;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #061E5C;
}
.search-part{
    display: flex;
    gap: 2px;
}
.search input{
    width: 20vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    outline-color:#FFB41D;
    padding: 5px;
}
.search input .active{
    border-radius: 5px;
}
.search i{
    font-size: 24px;
    display: flex;
    border: 1px solid transparent;
    cursor: pointer;
    color: #061E5C;
    padding: 5px;
    background-color: #fff;
    margin-top: -2px;
    border-radius: 50%;
}